#layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

#layoutHeader {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
}
#layoutMain {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
